h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-link {
  box-sizing: border-box;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  position: relative;
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address {
  display: flex;
  font-style: normal;
  align-items: center;
}

.address-link-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  padding-right: 156px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: 0, 0, 0, 0;
}

.sol-section {
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
}

.effective-solutions-title {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.order-srvc-btn {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 48px;
  align-items: center;
  display: block;
  font-weight: 500;
  font-size: 16px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-srvc-btn:hover,
.order-srvc-btn:focus {
  background-color: #404bbf;
}

/*==============HEADER STYLES===============*/

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
}

.head-section {
  padding: 120px 0;
}
.head-list {
  display: flex;
  gap: 24px;
}

.icon {
  display: flex;
}

.icon-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.head-title-list {
  justify-content: center;
  align-items: center;

  width: calc((100% - 72px) / 4);
}

.head-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.head-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============solution ====================*/

/*========TEAM STYLES==============*/

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.icon-container-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}
.icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  fill: #fff;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-wrapper:hover {
  background-color: #404bbf;
}

.icon-team {
  fill: var(--icon-color, #f4f4fd);
  width: 16px;
  height: 16px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}

.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.team-name-position {
  padding: 32px 0;
}

.team-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item-list-title {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-list-title:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-list-title:hover .overlay-p {
  transform: translateY(0%);
}

.overlay-p {
  position: absolute;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-item {
  margin-right: 120px;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.social-media-p {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-wrapper {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-footer {
  display: flex;
  gap: 16px;
}

.footer-part {
  color: #f4f4fd;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.footer-social-media-container {
  margin-right: 80px;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-btn-svg {
  fill:#ffffff;
  margin-left: 16px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
 }

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  max-width: 480px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-btn {
  display: flex;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: #404bbf;
  border: none;

}
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover svg {
  fill: #ffffff;
}
.close-btn:focus svg {
  fill: #ffffff;
  
}



.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: block;

  border-radius: 4px;
  width: 360px;
  height: 336px;
}

.label-container {
  margin-top: 4px;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;

  color: var(--text-color, #8e8f99);
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .input-svg {
  fill: #4D5AE5;
}


.input-container {
  position: relative;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color, #8e8f99);
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox input[type="checkbox"]:checked + .user-privacy-label .privacy-span {
  background-color: var(--checked-background-color, #404bbf);
  border: none;
  fill: var(--checked-icon-color, #f4f4fd);
}

.privacy-link {
  color: var(--link-color, #4d5ae5);
}

.send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 1px solid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
  fill: #ffffff;
}

.send-btn:focus {
  fill: #ffffff;
}
