h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .container {
  box-sizing: border-box;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

.container {
  max-width: 320px;
  /* padding: 0 16px; */
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* ========HEADER========== */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  height: 56px;
  /* width: 1158px; */
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.link-list {
  /* display: flex; */
  display: none;
}

.nav-link {
  box-sizing: border-box;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  position: relative;
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address {
  /* display: flex; */
  display: none;
}

/* .address-link-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  padding-right: 156px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: 0, 0, 0, 0;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .link-list {
    display: flex;
    gap: 40px;
  }

  .nav-link-list {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    position: absolute;
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
  }
  .address {
    display: block;
  }
  .address-link-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address {
    display: flex;
    align-items: center;
  }
  .link-list {
    display: flex;
  }
  .address-link-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* =======SECTION 1====== */

.sol-section {
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 52px;
  /* padding: 188px 0; */
  height: 432px;
  margin: auto;
}

.effective-solutions-title {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.order-srvc-btn {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  /* margin-top: 48px; */
  /* margin-top: 72px; */
  margin: 72px auto 0;
  align-items: center;
  display: block;
  font-weight: 500;
  font-size: 16px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-srvc-btn:hover,
.order-srvc-btn:focus {
  background-color: #404bbf;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .sol-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .effective-solutions-title {
    font-weight: 700;
    font-size: 56px;
  }
  .order-srvc-btn {
    margin-top: 36px;
  }
  .sol-section {
    padding: 188px 0;
  }

  .head-container {
    max-width: 100%;

    margin: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .effective-solutions-title {
    font-weight: 700;
    font-size: 56px;
  }
  .order-srvc-btn {
    margin-top: 48px;
  }
  .sol-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@x3.jpg);
    max-width: 1440px;
  }
}

/* ==========SECTION 2========= */

.head-section {
  padding: 120px 0;
}
.head-list {
  /* display: flex; */
  display: block;
  padding: 16px;
  /* gap: 24px; */
}

.head-title-list {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.icon-container {
  display: none;
}

.icon {
  display: flex;
}

.head-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.head-item {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .head-title-list {
    width: calc((100% - 24px) / 2);
  }

  .head-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .head-title {
    text-align: left;
  }

  .head-item {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .head-list {
    display: flex;
    gap: 24px;
  }
  .icon-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .head-title-list {
    width: calc((100% - 72px) / 4);
  }
  .head-title {
    font-weight: 500;
    font-size: 20px;
  }
  .head-item {
    font-weight: 400;
  }
}

/*========SECTION 3==============*/

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team {
  background-color: #f4f4fd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name-position {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.team-item {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.icon-container-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  fill: #fff;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.icon-wrapper:hover {
  background-color: #404bbf;
}

.icon-team {
  fill: var(--icon-color, #f4f4fd);
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    /* width: calc((100% - 24px) / 2); */
    width: 264px;
  }

  .our-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    width: calc((100% - 72px) / 4);
  }
}

/* ========SECTION 4============ */

.portfolio-section {
  padding: 96px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-list-title {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.overlay-p {
  position: absolute;
  color: #f4f4fd;
  background-color: #4d5ae5;
  /* padding: 10px; */
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item-list-title:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-list-title:hover .overlay-p {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* width: calc((100 - 24px) / 2); */
  }

  .item-list-title {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0 120px 0;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .item-list-title {
    width: calc((100% - 48px) / 3);
  }
}

/* =====FOOTER======== */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  /* display: flex;
  align-items: baseline; */
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.footer-logo-item {
  /* margin-right: 120px; */
  /* margin-right: 24px; */

  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px; */
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-part {
  color: #f4f4fd;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-media-container {
  /* margin-right: 80px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
  flex-direction: column;
}

.social-media-p {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
}

.icon-wrapper {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-footer {
  fill: var(--icon-color, #f4f4fd);
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

/* .footer-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
flex-wrap: wrap;
} */

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* .footer-form-label {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
} */

.footer-form-input {
  margin-top: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.subscribe-btn-svg {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .label-social-wrap {
    background-color: orange;
    display: flex;
    margin: 72px 108px;
  }
  .footer-container {
    /* max-width: 584px; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: start;
    padding: 108px;
  }

  .footer-logo-item {
    width: 264px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
  }

  .subscribe {
    align-items: flex-start;
  }

  .footer-social-media-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  /* .footer-form-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
} */
}

@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    padding: 0 15px;
    justify-content: space-between;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-top: 72px;
  /* padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px; */
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  /* width: 408px; */
  width: 288px;
  /* min-height: 584px; */
  min-height: 623px;
  max-width: 480px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover svg {
  fill: #ffffff;
}
.close-btn:focus svg {
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: block;

  border-radius: 4px;
  /* width: 360px; */
  width: 256px;
  height: 336px;
}

.label-container {
  margin-top: 4px;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;

  color: var(--text-color, #8e8f99);
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-svg {
  fill: #4d5ae5;
}

.input-container {
  position: relative;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox {
  width: 256px;
  margin-bottom: 24px;
}

.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color, #8e8f99);
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox input[type="checkbox"]:checked + .user-privacy-label .privacy-span {
  background-color: var(--checked-background-color, #404bbf);
  border: none;
  fill: var(--checked-icon-color, #f4f4fd);
}

.privacy-link {
  color: var(--link-color, #4d5ae5);
}

.send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 1px solid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
  fill: #ffffff;
}

.send-btn:focus {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    width: 408px;
    min-height: 584px;
  }
  .modal-form {
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
}

/* ========MOBILE MENU============ */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-window {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  min-height: 623px;
  max-width: 480px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mobile-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 280px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  margin-top: 48px;
}

.address-mobile-menu {
  display: block;
  margin-top: 168px;
  font-style: normal;
  align-items: center;
}

.link-list-mobile-menu {
  gap: 40px;
  margin-top: 72px;
}

.icon-team-mob {
  fill: var(--icon-color, #f4f4fd);
}
